# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs/
*.cbp
*.depend
bin/
obj/
.exe
*.layout
.layout

Debug/
ipch/
*.db
stdafx.h
stdafx.cpp
targetver.h
StdAfx.h
StdAfx.cpp


